@import '../../../assets//styles/variables.scss';
.slide{
    background-color: $primary-color;
    border-radius: $border-radius;
    padding:1rem  1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}