@import '../../../assets/styles/variables.scss';
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    color:$secondary-color ;
    h3{
        font-size: 20.5px;
        font-weight: 500;
    }
    p{
        font-size: 16.4px;
        font-weight: 400;
    }
}