/* $dark-green:#2DD06E; */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Euclid Circular A", sans-serif;
}