@import "../../../assets/styles/variables.scss";
.item {
  color: #303030;
  background: rgb(242, 230, 228);
  background: linear-gradient(
    160deg,
    rgba(242, 230, 228, 1) 0%,
    rgba(242, 242, 242, 1) 100%
  );
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: auto;
  img {
    max-width: 100%;
    justify-self: end;
    align-self: end;
  }
  .item_info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    h3 {
      font-size: 14px;
      font-weight: 500;
    }
    P,
    span {
      font-size: 10px;
      font-weight: 400;
    }
    span {
      color: #3366ff;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      a {
        color: #3366ff;
      }
    }
  }
}

.first_item {
  grid-row: 1/3;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  padding-right: 0;
}

@media screen and (min-width: $md) {
  .item > .item_info {
    h3 {
      font-size: 24px;
    }
    P,
    span {
      font-size: 16px;
    }
    span > svg {
      width: 8px;
      height: 12px;
    }
  }
}
