@import '../../../assets/styles/variables.scss';

.hero{
    background-image: url(../../../assets/images/background.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 0 10rem;
   position: relative;
padding:1rem 2rem ;
   .swiperWrapper{
    padding-bottom: 1rem; 
}

   
}
:global(.swiper-pagination-bullet-active){
    background-color: $green !important;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(90px)
}
@media screen and (min-width:$md) {
    .hero{
        padding: 2rem 5% 3rem 5%;
        background-position: 0 5rem;
      background-size: auto;
        .swiperWrapper{
            padding-bottom: 3rem; 
        }
    }

   
}